CompileFlags:
  Add:
    # Includes do MinGW (crítico para C++ no Windows)
    - --target=x86_64-w64-mingw32
    - -nobuiltininc
    - -IC:/mingw64/lib/gcc/x86_64-w64-mingw32/16.1.0/include/c++
    - -IC:/mingw64/lib/gcc/x86_64-w64-mingw32/16.1.0/include/c++/x86_64-w64-mingw32
    - -IC:/mingw64/lib/gcc/x86_64-w64-mingw32/16.1.0/include/c++/backward
    - -IC:/mingw64/lib/gcc/x86_64-w64-mingw32/16.1.0/include
    - -IC:/mingw64/lib/gcc/x86_64-w64-mingw32/16.1.0/include-fixed
    - -IC:/mingw64/x86_64-w64-mingw32/include
    # Flags de compilação e warnings
    - -std=c++20
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wshadow

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
